{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 4 versions",
          "> 1%",
          "ie 11"
        ]
      },
      "modules": false
    }]
  ]
}
