extends ../layouts/_layout.pug

block title
  title Все страницы

block content
  main
    h2 Страницы сайта
    ul
      li: a(href="index.html") Главная
      li: a(href="about.html") О нас
      li: a(href="contact.html") Контакты
      li: a(href="example.html") Пример