extends ../layouts/_layout.pug

block content
  main
    h2 Welcome to the Home Page2212
    svg.icon-facebook
      use(xlink:href="/sprite.svg#facebook")
    p This page uses layout.pug and includes header/footer