//- 
  ---
  title: Главная
  ---

extends ../layouts/_layout

block content
  section.hero
    .container
      h2 Welcome to My Project
      p This is a Vite project with Pug templates
      a.btn.btn-primary(href="#") Get Started