include ../mixins/all

doctype html
html
  head
    include _head
    link(rel="stylesheet" href="css/main.css")

  body(class=bodyClass)
    .out(class=outClass)
      block header
        include ../partials/_header

      block content

      block footer
        include ../partials/_footer

    block scripts
      script(type="module" src="js/main.js")
